Repository openshift/trustee-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: trustee-operator-bundle-on-push, trustee-operator-on-pull-request, trustee-operator-on-push

trustee-operator-bundle-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: build-source-image
    value: 'true'
  - name: output-image
    value: quay.io/redhat-user-workloads/ose-osc-tenant/trustee/trustee-operator-bundle:{{revision}}
  - name: dockerfile
    value: bundle.Dockerfile
  ...

trustee-operator-on-pull-request:
  params:
  - name: dockerfile
    value: Dockerfile
  - name: git-url
    value: '{{source_url}}'
  - name: image-expires-after
    value: 5d
  - name: output-image
    value: quay.io/redhat-user-workloads/ose-osc-tenant/trustee/trustee-operator:on-pr-{{revision}}
  - name: revision
    value: '{{revision}}'
  ...

trustee-operator-on-push:
  params:
  - name: dockerfile
    value: Dockerfile
  - name: git-url
    value: '{{source_url}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ose-osc-tenant/trustee/trustee-operator:{{revision}}
  - name: revision
    value: '{{revision}}'
  - name: build-source-image
    value: 'true'
  ...

tekton: use modified docker-build pipeline
  .tekton/bundle-build-pipeline.yaml
  .tekton/docker-build-bundle.yaml
  .tekton/trustee-operator-bundle-pull-request.yaml
  .tekton/trustee-operator-bundle-push.yaml
Due: trustee-operator-bundle-on-push, trustee-operator-on-push

Fix s390x build pipeline
  .tekton/trustee-operator-bundle-pull-request.yaml
  .tekton/trustee-operator-bundle-push.yaml
  .tekton/trustee-operator-pull-request.yaml
  .tekton/trustee-operator-push.yaml
Due: trustee-operator-bundle-on-push, trustee-operator-on-pull-request, trustee-operator-on-push

Install script for v1.0.0
  scripts/install-helpers/attestation-policy.yaml
  scripts/install-helpers/image_mirroring.yaml
  scripts/install-helpers/install.sh
  scripts/install-helpers/tdx-coco-as-cm.yaml
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Fix
  internal/controller/kbsconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Update RPM dependencies to UBI10
  CLAUDE.md
  Dockerfile
  rpm/rpms.lock.yaml
  rpm/ubi.repo
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Changed ConfigMap DefaultMode to 664
  internal/controller/volumes.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Fix fips issue
  .tekton/trustee-operator-pull-request.yaml
  .tekton/trustee-operator-push.yaml
  Dockerfile
  rpm/rpms.in.yaml
  rpm/rpms.lock.yaml
  rpm/ubi.repo
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Fix trustee-operator build
  .tekton/trustee-operator-bundle-pull-request.yaml
  .tekton/trustee-operator-bundle-push.yaml
  .tekton/trustee-operator-pull-request.yaml
  .tekton/trustee-operator-push.yaml
  Dockerfile
  rpm/rpms.in.yaml
  rpm/rpms.lock.yaml
  rpm/ubi.repo
Due: trustee-operator-bundle-on-push, trustee-operator-on-pull-request, trustee-operator-on-push

Added related image for trustee
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
Due: trustee-operator-bundle-on-push

Add "workspace" to push pipeline
  .tekton/trustee-operator-bundle-push.yaml
Due: trustee-operator-bundle-on-push, trustee-operator-on-push

Updated konflux trusted digests
  .tekton/trustee-operator-bundle-pull-request.yaml
  .tekton/trustee-operator-bundle-push.yaml
  .tekton/trustee-operator-pull-request.yaml
  .tekton/trustee-operator-push.yaml
Due: trustee-operator-bundle-on-push, trustee-operator-on-pull-request, trustee-operator-on-push

Fix konflux operator bundle on-push pipeline
  .tekton/trustee-operator-bundle-push.yaml
Due: trustee-operator-bundle-on-push, trustee-operator-on-push

Fix sast-shell-check-oci-ta task
  .tekton/trustee-operator-bundle-push.yaml
Due: trustee-operator-bundle-on-push, trustee-operator-on-push

Remove workspace reference from on-push pipeline
  .tekton/trustee-operator-bundle-push.yaml
Due: trustee-operator-bundle-on-push, trustee-operator-on-push

Bump v1.1.0 version
  Dockerfile
  Makefile
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  config/manifests/bases/trustee-operator.clusterserviceversion.yaml
Due: trustee-operator-bundle-on-push, trustee-operator-on-pull-request

Add a default route
  cmd/main.go
  config/rbac/role.yaml
  internal/controller/common.go
  internal/controller/trusteeconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Enable NVIDIA NRAS verifier
  config/templates/kbs-config-permissive.toml
  config/templates/kbs-config-restricted.toml
  tests/e2e/sample-attester-https/03-kbs-config.yaml
  tests/e2e/sample-attester/03-kbs-config.yaml
Due: trustee-operator-bundle-on-push, trustee-operator-on-pull-request, trustee-operator-on-push

Fix konflux task init version
  .tekton/trustee-operator-bundle-pull-request.yaml
  .tekton/trustee-operator-bundle-push.yaml
  .tekton/trustee-operator-pull-request.yaml
  .tekton/trustee-operator-push.yaml
Due: trustee-operator-bundle-on-push, trustee-operator-on-pull-request, trustee-operator-on-push

Fix kbs configmap generation for restricted mode
  config/templates/kbs-config-restricted.toml
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Regenerate bundle to fix route RBAC
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
Due: trustee-operator-bundle-on-push

Fix NRAS attestation URL
  config/templates/kbs-config-permissive.toml
  config/templates/kbs-config-restricted.toml
  tests/e2e/sample-attester-https/03-kbs-config.yaml
  tests/e2e/sample-attester/03-kbs-config.yaml
Due: trustee-operator-bundle-on-push, trustee-operator-on-pull-request, trustee-operator-on-push

Re-added PCR 3, 8, 9 and 12 to azure SNP/TDX
  config/templates/ear_default_attestation_policy_cpu.rego
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Update konflux init digest
  .tekton/trustee-operator-bundle-pull-request.yaml
  .tekton/trustee-operator-bundle-push.yaml
  .tekton/trustee-operator-pull-request.yaml
  .tekton/trustee-operator-push.yaml
Due: trustee-operator-bundle-on-push, trustee-operator-on-pull-request, trustee-operator-on-push

Update resource-policy
  config/templates/resource-policy-restrictive.rego
Due: trustee-operator-on-pull-request, trustee-operator-on-push

chore: update init task bundle to v0.4
  .tekton/trustee-operator-bundle-pull-request.yaml
  .tekton/trustee-operator-bundle-push.yaml
  .tekton/trustee-operator-pull-request.yaml
  .tekton/trustee-operator-push.yaml
Due: trustee-operator-bundle-on-push, trustee-operator-on-pull-request, trustee-operator-on-push

fix: set correct name label for release validation
  Dockerfile
Due: trustee-operator-on-pull-request, trustee-operator-on-push

fix: update CPE label to match prodsec release data
  bundle.Dockerfile
Due: trustee-operator-bundle-on-push

fix: add CPE label to operator Dockerfile
  Dockerfile
Due: trustee-operator-on-pull-request, trustee-operator-on-push

airgap: add ImageSetConfiguration
  docs/disconnected/README.md
  docs/disconnected/imageset-config-4.17.yaml
  docs/disconnected/imageset-config-4.18.yaml
  docs/disconnected/imageset-config-4.19.yaml
  docs/disconnected/imageset-config-4.20.yaml
  docs/disconnected/imageset-config-4.21.yaml
Due: trustee-operator-on-pull-request, trustee-operator-on-push

must-gather project structure and main collectors
  must-gather/Dockerfile
  must-gather/LICENSE
  must-gather/Makefile
  must-gather/README.md
  must-gather/collection-scripts/gather
  must-gather/collection-scripts/gather_crds
  must-gather/collection-scripts/gather_trustee_operator
Due: trustee-operator-on-pull-request, trustee-operator-on-push

must-gather: add OLM resources
  must-gather/README.md
  must-gather/collection-scripts/gather
  must-gather/collection-scripts/gather_olm_resources
Due: trustee-operator-on-pull-request, trustee-operator-on-push

must-gather: add network support
  must-gather/README.md
  must-gather/collection-scripts/gather
  must-gather/collection-scripts/gather_network
Due: trustee-operator-on-pull-request, trustee-operator-on-push

must-gather: add rbac support
  must-gather/README.md
  must-gather/collection-scripts/gather
  must-gather/collection-scripts/gather_rbac
Due: trustee-operator-on-pull-request, trustee-operator-on-push

must-gather: add support for Storage
  must-gather/README.md
  must-gather/collection-scripts/gather
  must-gather/collection-scripts/gather_storage
Due: trustee-operator-on-pull-request, trustee-operator-on-push

fix: update Tekton task bundles to trusted versions
  .tekton/trustee-operator-bundle-pull-request.yaml
  .tekton/trustee-operator-bundle-push.yaml
  .tekton/trustee-operator-pull-request.yaml
  .tekton/trustee-operator-push.yaml
Due: trustee-operator-bundle-on-push, trustee-operator-on-pull-request, trustee-operator-on-push

fix: update build-source-image to use IMAGE_REF param
  .tekton/trustee-operator-bundle-pull-request.yaml
  .tekton/trustee-operator-bundle-push.yaml
  .tekton/trustee-operator-pull-request.yaml
  .tekton/trustee-operator-push.yaml
Due: trustee-operator-bundle-on-push, trustee-operator-on-pull-request, trustee-operator-on-push

fix: switch source-build-oci-ta to v0.3
  .tekton/trustee-operator-bundle-pull-request.yaml
  .tekton/trustee-operator-bundle-push.yaml
  .tekton/trustee-operator-pull-request.yaml
  .tekton/trustee-operator-push.yaml
Due: trustee-operator-bundle-on-push, trustee-operator-on-pull-request, trustee-operator-on-push

Bump v1.1.1 version
  Makefile
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  config/manifests/bases/trustee-operator.clusterserviceversion.yaml
Due: trustee-operator-bundle-on-push, trustee-operator-on-pull-request

Path conditions:
  trustee-operator-bundle-on-push: any of: bundle*|tests/*|.tekton/*bundle*
  trustee-operator-on-pull-request: any file but: bundle*|tests/*|.tekton/*bundle*
  trustee-operator-on-push: not (any of: bundle*)
