Repository openshift/trustee-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: trustee-operator-bundle-on-push, trustee-operator-on-pull-request, trustee-operator-on-push

trustee-operator-bundle-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: build-source-image
    value: 'true'
  - name: output-image
    value: quay.io/redhat-user-workloads/ose-osc-tenant/trustee/trustee-operator-bundle:{{revision}}
  - name: dockerfile
    value: bundle.Dockerfile
  ...

trustee-operator-on-pull-request:
  params:
  - name: dockerfile
    value: Dockerfile
  - name: git-url
    value: '{{source_url}}'
  - name: image-expires-after
    value: 5d
  - name: output-image
    value: quay.io/redhat-user-workloads/ose-osc-tenant/trustee/trustee-operator:on-pr-{{revision}}
  - name: revision
    value: '{{revision}}'
  ...

trustee-operator-on-push:
  params:
  - name: dockerfile
    value: Dockerfile
  - name: git-url
    value: '{{source_url}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ose-osc-tenant/trustee/trustee-operator:{{revision}}
  - name: revision
    value: '{{revision}}'
  - name: build-source-image
    value: 'true'
  ...

fix: upgrade unsupported Tekton task bundles
  .tekton/trustee-operator-bundle-pull-request.yaml
  .tekton/trustee-operator-bundle-push.yaml
  .tekton/trustee-operator-pull-request.yaml
  .tekton/trustee-operator-push.yaml
Due: trustee-operator-bundle-on-push, trustee-operator-on-pull-request, trustee-operator-on-push

fix: upgrade sast-snyk-check-oci-ta to v0.4
  .tekton/trustee-operator-bundle-pull-request.yaml
  .tekton/trustee-operator-bundle-push.yaml
  .tekton/trustee-operator-pull-request.yaml
  .tekton/trustee-operator-push.yaml
Due: trustee-operator-bundle-on-push, trustee-operator-on-pull-request, trustee-operator-on-push

Exclude secret contents from the gathering
  must-gather/collection-scripts/gather_rbac
  must-gather/collection-scripts/gather_trustee_operator
Due: trustee-operator-on-pull-request, trustee-operator-on-push

must-gather: add support for Audit logs
  must-gather/collection-scripts/gather
  must-gather/collection-scripts/gather_audit_logs
Due: trustee-operator-on-pull-request, trustee-operator-on-push

must-gather: add network support
  must-gather/README.md
  must-gather/collection-scripts/gather
  must-gather/collection-scripts/gather_network
Due: trustee-operator-on-pull-request, trustee-operator-on-push

must-gather: add support for Storage
  must-gather/README.md
  must-gather/collection-scripts/gather
  must-gather/collection-scripts/gather_storage
Due: trustee-operator-on-pull-request, trustee-operator-on-push

must-gather: add OLM resources
  must-gather/README.md
  must-gather/collection-scripts/gather
  must-gather/collection-scripts/gather_olm_resources
Due: trustee-operator-on-pull-request, trustee-operator-on-push

must-gather project structure and main collectors
  must-gather/Dockerfile
  must-gather/LICENSE
  must-gather/Makefile
  must-gather/README.md
  must-gather/collection-scripts/gather
  must-gather/collection-scripts/gather_crds
  must-gather/collection-scripts/gather_trustee_operator
Due: trustee-operator-on-pull-request, trustee-operator-on-push

must-gather: add rbac support
  must-gather/README.md
  must-gather/collection-scripts/gather
  must-gather/collection-scripts/gather_rbac
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Red Hat Konflux update trustee-must-gather
  .tekton/trustee-must-gather-pull-request.yaml
  .tekton/trustee-must-gather-push.yaml
Due: trustee-operator-on-pull-request, trustee-operator-on-push

fix: enable package registry proxy for prefetch-dependencies
  .tekton/trustee-operator-bundle-pull-request.yaml
  .tekton/trustee-operator-bundle-push.yaml
  .tekton/trustee-operator-pull-request.yaml
  .tekton/trustee-operator-push.yaml
Due: trustee-operator-bundle-on-push, trustee-operator-on-pull-request, trustee-operator-on-push

feat: add Konflux pipeline support for must-gather image
  .tekton/trustee-must-gather-pull-request.yaml
  .tekton/trustee-must-gather-push.yaml
  must-gather/rpms.in.yaml
  must-gather/rpms.lock.yaml
  must-gather/ubi.repo
Due: trustee-operator-on-pull-request, trustee-operator-on-push

fix: enable package registry proxy for must-gather prefetch-dependencies
  .tekton/trustee-must-gather-pull-request.yaml
  .tekton/trustee-must-gather-push.yaml
Due: trustee-operator-on-pull-request, trustee-operator-on-push

fix: Update Konflux References
  .tekton/trustee-must-gather-pull-request.yaml
  .tekton/trustee-must-gather-push.yaml
  .tekton/trustee-operator-bundle-pull-request.yaml
  .tekton/trustee-operator-bundle-push.yaml
  .tekton/trustee-operator-pull-request.yaml
  .tekton/trustee-operator-push.yaml
Due: trustee-operator-bundle-on-push, trustee-operator-on-pull-request, trustee-operator-on-push

Remove TDX PCCS-dependent configuration
  README.md
  api/v1alpha1/kbsconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/confidentialcontainers.org_kbsconfigs.yaml
  config/crd/bases/confidentialcontainers.org_kbsconfigs.yaml
  config/manifests/bases/trustee-operator.clusterserviceversion.yaml
  config/samples/all-in-one/kustomization.yaml
  config/samples/all-in-one/patch-tdx-config.yaml
  config/samples/all-in-one/tdx-config.yaml
  config/samples/microservices/kustomization.yaml
  config/samples/microservices/patch-tdx-config.yaml
  config/samples/microservices/tdx-config.yaml
  config/templates/kbs-config-permissive.toml
  config/templates/kbs-config-restricted.toml
  config/templates/tdx-config.json
  docs/kbs-config-merge-strategy.md
  internal/controller/common.go
  internal/controller/kbsconfig_controller.go
  internal/controller/tdx_helper.go
  internal/controller/trusteeconfig_controller.go
  tests/e2e/sample-attester-https/03-kbs-config.yaml
  tests/e2e/sample-attester/03-kbs-config.yaml
  tests/e2e/sample-trusteeconfig-restricted/60-assert-tdx-config.yaml
  tests/e2e/sample-trusteeconfig/60-assert-tdx-config.yaml
Due: trustee-operator-bundle-on-push, trustee-operator-on-pull-request

Get TLS config from Openshift apiserver
  .tekton/trustee-must-gather-pull-request.yaml
  .tekton/trustee-must-gather-push.yaml
  .tekton/trustee-operator-bundle-pull-request.yaml
  .tekton/trustee-operator-bundle-push.yaml
  .tekton/trustee-operator-pull-request.yaml
  .tekton/trustee-operator-push.yaml
  config/rbac/role.yaml
  internal/controller/tlsconfig.go
  internal/controller/tlsconfig_test.go
  internal/controller/trusteeconfig_controller.go
Due: trustee-operator-bundle-on-push, trustee-operator-on-pull-request, trustee-operator-on-push

Implement OpenShift TLS security profile compliance
  cmd/main.go
  config/default/kustomization.yaml
  config/default/manager_https_port_patch.yaml
  go.mod
  go.sum
  internal/controller/trusteeconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Bumped operator versions for Kubernetes 1.35
  Makefile
  bundle/manifests/confidentialcontainers.org_kbsconfigs.yaml
  bundle/manifests/confidentialcontainers.org_trusteeconfigs.yaml
  config/crd/bases/confidentialcontainers.org_kbsconfigs.yaml
  config/crd/bases/confidentialcontainers.org_trusteeconfigs.yaml
  go.mod
  go.sum
Due: trustee-operator-bundle-on-push, trustee-operator-on-pull-request

Fix attestation policy for Azure SNP/TDX
  config/templates/ear_default_attestation_policy_cpu.rego
  go.mod
  go.sum
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Implement OpenShift TLS security profile compliance
  cmd/main.go
  config/default/kustomization.yaml
  config/default/manager_https_port_patch.yaml
  go.mod
  go.sum
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Fix kbs-config restrictive template
  config/templates/kbs-config-restricted.toml
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Bump RH BoT v1.2.0
  Dockerfile
  Makefile
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  config/manifests/bases/trustee-operator.clusterserviceversion.yaml
  must-gather/Dockerfile
Due: trustee-operator-bundle-on-push, trustee-operator-on-pull-request

Fix bundle
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
Due: trustee-operator-bundle-on-push

Automatic migration procedure
  docs/upgrade-v1.1-to-v1.2.md
  internal/controller/kbsconfig_controller.go
  internal/controller/migration.go
  internal/controller/migration_test.go
  internal/controller/migration_vault_test.go
  internal/controller/trusteeconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Automatic migration procedure from 1.1 to 1.2
  docs/upgrade-v1.1-to-v1.2.md
  internal/controller/kbsconfig_controller.go
  internal/controller/migration.go
  internal/controller/migration_test.go
  internal/controller/trusteeconfig_controller.go
  internal/controller/trusteeconfig_merge_test.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

konflux: add PR tags to images for easier identification
  .tekton/trustee-must-gather-pull-request.yaml
  .tekton/trustee-operator-bundle-pull-request.yaml
  .tekton/trustee-operator-pull-request.yaml
Due: trustee-operator-bundle-on-push, trustee-operator-on-pull-request, trustee-operator-on-push

release: Update CPE label to 1.102 for release 1.2
  Dockerfile
  must-gather/Dockerfile
Due: trustee-operator-on-pull-request, trustee-operator-on-push

release: Update CPE label in bundle.Dockerfile to 1.102
  bundle.Dockerfile
Due: trustee-operator-bundle-on-push

Fix trustee-must-gather label
  must-gather/Dockerfile
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Path conditions:
  trustee-operator-bundle-on-push: any of: bundle*|tests/*|.tekton/*bundle*
  trustee-operator-on-pull-request: any file but: bundle*|tests/*|.tekton/*bundle*
  trustee-operator-on-push: not (any of: bundle*)
