Repository openshift/trustee-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: trustee-operator-bundle-on-push, trustee-operator-on-pull-request, trustee-operator-on-push

Path conditions:
  trustee-operator-bundle-on-push: any of: bundle*|tests/*|.tekton/*bundle*
  trustee-operator-on-pull-request: any file but: bundle*|tests/*|.tekton/*bundle*
  trustee-operator-on-push: not (any of: bundle*)

release: Update CPE label to 1.130 (rhocca-1.13) for release 1.2
  Dockerfile
  bundle.Dockerfile
  must-gather/Dockerfile
Due: trustee-operator-bundle-on-push, trustee-operator-on-pull-request

fix: sort KbsSecretResources after map-based dedup to ensure deterministic ordering
  internal/controller/trusteeconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Fix reconciliation loop
  internal/controller/kbsconfig_controller.go
  internal/controller/trusteeconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Bump v1.2.1 operator version
  Dockerfile
  Makefile
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  config/manifests/bases/trustee-operator.clusterserviceversion.yaml
  must-gather/Dockerfile
Due: trustee-operator-bundle-on-push, trustee-operator-on-pull-request

Add MigrationAnnotation to KbsConfigMap
  internal/controller/trusteeconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Update konflux trusted digests
  .tekton/trustee-must-gather-pull-request.yaml
  .tekton/trustee-must-gather-push.yaml
  .tekton/trustee-operator-bundle-pull-request.yaml
  .tekton/trustee-operator-bundle-push.yaml
  .tekton/trustee-operator-pull-request.yaml
  .tekton/trustee-operator-push.yaml
Due: trustee-operator-bundle-on-push, trustee-operator-on-pull-request, trustee-operator-on-push

trustee-operator-bundle: update RBAC to comply with OCP 5.0 requirements
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
Due: trustee-operator-bundle-on-push, trustee-operator-on-pull-request

fix: update Konflux task refs for trustee-must-gather component
  .tekton/trustee-must-gather-pull-request.yaml
  .tekton/trustee-must-gather-push.yaml
Due: trustee-operator-on-pull-request, trustee-operator-on-push

fix: update Konflux task refs and RBAC for trustee-operator-bundle
  .tekton/trustee-operator-bundle-pull-request.yaml
  .tekton/trustee-operator-bundle-push.yaml
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
Due: trustee-operator-bundle-on-push, trustee-operator-on-pull-request

fix: update Konflux task refs for trustee-operator component
  .tekton/trustee-operator-pull-request.yaml
  .tekton/trustee-operator-push.yaml
Due: trustee-operator-on-pull-request, trustee-operator-on-push

fix: bump golang.org/x/net to v0.55.0 to fix CVE-2026-39821
  go.mod
  go.sum
Due: trustee-operator-on-pull-request, trustee-operator-on-push

fix: bump Go toolchain to go1.25.10 to fix CVE-2026-33811
  go.mod
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Remove TDX PCCS-dependent configuration
  scripts/install-helpers/rvps-cm.yaml
  tests/e2e/sample-attester/03-kbs-config.yaml
Due: trustee-operator-bundle-on-push, trustee-operator-on-pull-request, trustee-operator-on-push

feat: support IBM SE TrusteeConfig provisioning
  internal/controller/trusteeconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Bump operator version v0.21.0
  Makefile
  bundle/manifests/trustee-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
Due: trustee-operator-bundle-on-push, trustee-operator-on-pull-request

Use ubi9 latest image for containers
  Dockerfile
  must-gather/Dockerfile
Due: trustee-operator-on-pull-request, trustee-operator-on-push

fix(deps): bump go.opentelemetry.io/otel to v1.44.0 for CVE-2026-41178
  go.mod
  go.sum
Due: trustee-operator-on-pull-request, trustee-operator-on-push

fix(deps): bump golang.org/x/text to v0.39.0 for CVE-2026-56852
  go.mod
  go.sum
Due: trustee-operator-on-pull-request, trustee-operator-on-push

deps: bump go.opentelemetry.io/otel to v1.44.0 for CVE-2026-41178
  go.mod
  go.sum
Due: trustee-operator-on-pull-request, trustee-operator-on-push

deps: bump golang.org/x/text to v0.39.0 for CVE-2026-56852
  go.mod
  go.sum
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Add NetworkPolicies for KBS operand pods
  config/rbac/role.yaml
  internal/controller/kbsconfig_controller.go
  internal/controller/networkpolicy.go
  internal/controller/networkpolicy_test.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Added network policy documentation
  docs/network-policies.md
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Added Kubernetes/OpenShift cluster detection
  cmd/main.go
  internal/controller/trusteeconfig_controller.go
  internal/controller/utils/utils.go
  internal/controller/utils/utils_test.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Fix migration deadlock for standalone KbsConfig ConfigMaps
  internal/controller/migration.go
  internal/controller/migration_test.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Added Kubernetes/OpenShift cluster detection
  cmd/main.go
  internal/controller/trusteeconfig_controller.go
  internal/controller/utils/utils.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

Retry with backoff to handle transient errors when fetching the cluster type
  internal/controller/utils/utils.go
  internal/controller/utils/utils_test.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push

feat: propagate OpenShift cluster proxy trustedCA into trustee pods
  internal/controller/kbsconfig_controller.go
Due: trustee-operator-on-pull-request, trustee-operator-on-push
